.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin: 0 auto;
  max-width: 800px;
  justify-content: space-between;
  padding: 20px 20px 0;
  flex: 1;
  width: 100%;
  section {
    width: calc(50% - 20px);
  }

  @media only screen and (max-width: 600px) {
    &{
      flex-direction: column;

      section {
        width: 100%;
      }
    }
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.list {
  padding: 7px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 12px;
    color: #717171;
  }
}

.listLeft {
  display: flex;
  align-items: center;
}

.browserIcon {
  display: inline-flex;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  background-color: #3d72d4;
  height: 150px;
  display: flex;
  justify-content: center;
}

.coverage {
  background-color: #3d72d4;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #538fff;
}

.inputWrapper {
  width: 100%;
  max-width: 800px;
  margin-top: 60px;
  padding: 0 20px;

  span {
    color: white;
    font-size: 13px;
    text-align: center;
    display: block;
    background-color: #ff3535;
    margin-top: 5px;
    border-radius: 2px;
    padding: 2px 0;
  }
}

.input {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #00579c;
  height: 40px;
  background-color: #dde7fc;
  outline: none;
  transition: all 200ms;
}

.input:focus {
  border-color: #fff;
  background-color: #ffffff;
}

.footer {
  height: 50px;
  margin-top: 20px;
  font-size: 14px;
  padding: 5px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e2e2e2;
}
