@import "../../mixins/typography";

.wrapper {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.container {
  display: flex;
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  flex: 1;
}

.header {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include heading();
  display: flex;
  align-items: center;
  color: #ffffff;
}

.description {
  color: #ffffff;
  @include mediumText();
}

.hr {
  height: 2px;
  background-color: #fff;
  opacity: 0.2;
  margin-bottom: 16px;
}

.search {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: all 50ms;
}

.searchSticky {
  background-color: #03111E;
  border-bottom: 2px solid #384653;
}

.searchWrapper {
  position: relative;
  .searchIcon {
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
  }

  input {
    height: 48px;
    border: 2px solid #d3dcff;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    transition: all 200ms;
    caret-color: white;
    @include largeText();
    color: white;
    padding: 0 46px;
    width: 912px;

    &:focus {
      border-color: #5e5ceb;
    }
  }
}

.error {
  border-color: #e75541 !important;
}

.errorIcon {
  position: absolute;
  right: 13px;
  margin-top: 13px;
}

.queryComposition {
  @include smallTextStrong();
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 79px;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 912px;

  & > div {
    display: flex;
    flex-direction: column;
    width: 392px;
  }

  h3 {
    @include heading();
    color: white;
    line-height: 110%;
    margin-bottom: 23px;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top:2px solid rgba(255, 255, 255, 0.2);
  color: white;

  &:last-of-type {
    border-bottom:2px solid rgba(255, 255, 255, 0.2);
  }
}

.listLeft {
  display: flex;
  padding-top: 12px;
  @include smallText();
  text-transform: capitalize;
}

.listRight {
  width: 164px;
}

.version {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);

  &:last-of-type {
    border: none;
  }
}

.usage {
  @include smallTextUltraStrong();
}

.browserIcon {
  display: inline-flex;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.coverageSidebar {
  margin-bottom: 300px;
  position: relative;
}

.coverageCount {
  width: 184px;
  height: 140px;
  padding: 16px 20px 20px;
  background: #4636e3;
  border: 2px solid #777cf0;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
  @include mediumTextStrong();

  & > span {
    @include heading();
    display: inline-block;
    margin-top: 18px;
    color: rgba(255, 255, 255, 1);
  }
}

.bar {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  z-index: 9;
  position: relative;
}



.dottedFloor {
  position: absolute;
  transform: translateY(-50%) translateX(-36%);
  left: 0;
  z-index: 0;
}

.footer {
  display: flex;
  height: 196px;
  width: 100%;
  background-color: #03111e;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  align-items: center;
}

.madeBy {
  .logo {
    margin-right: 25px;
  }

  display: flex;
  align-items: center;
  color: white;
  @include smallTextStrong();
}
