@import "../mixins/typography";
@import "../mixins/media-queries";

.wrapper {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;

  @include respond-to(large) {
    max-width: 1224px;
  }
  @include respond-to(medium) {
    max-width: 940px;
  }
  @include respond-to(below-medium) {
    width: 100%;
  }

  @include respond-to(small) {
    padding: 0 58px;
  }
  @include respond-to(xsmall) {
    padding: 0 30px;
  }
  @include respond-to(xxsmall) {
    padding: 0 10px;
  }
}

.containerWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  min-height: 78px;
  display: flex;
  justify-content: space-between;

  @include respond-to(xsmall) {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  @include respond-to(xxsmall) {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
}

.title {
  @include heading();
  display: flex;
  align-items: center;
  color: #ffffff;
  max-height: 78px;

  @include respond-to(xsmall) {
    margin: 20px 0;
  }
  @include respond-to(xxsmall) {
    margin: 20px 0;
  }
}

.description {
  color: #ffffff;
  @include mediumText();
  line-height: 21px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  white-space: pre;
}

.hr {
  height: 2px;
  background-color: #fff;
  opacity: 0.2;
  margin-bottom: 16px;

  @include respond-to(xsmall) {
    display: none;
  }
  @include respond-to(xxsmall) {
    display: none;
  }
}

.search {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: all 50ms;
}

.searchSticky {
  background-color: #03111e;
  border-bottom: 2px solid #384653;
}

.searchContainer {
  @extend .container;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.searchWrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;

  @include respond-to(small) {
    flex: 1;
    margin-right: 23px;
  }
  @include respond-to(xsmall) {
    flex: 1;
    margin-right: 23px;
  }
  @include respond-to(xxsmall) {
    flex: 1;
    margin-right: 23px;
  }

  .searchIcon {
    position: absolute;
    margin-top: 13px;
    margin-left: 13px;
  }

  input {
    height: 48px;
    border: 2px solid #d3dcff;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    caret-color: white;
    @include largeText();
    color: white;
    padding: 0 46px;
    display: flex;
    flex: 1;

    &:focus {
      border-color: #5e5ceb;
    }
  }
}

.error {
  border-color: #e75541 !important;
}

.errorIcon {
  position: absolute;
  right: 13px;
  margin-top: 13px;

  &:hover > span {
    visibility: visible;
  }
}

.queryComposition {
  @include smallTextStrong();
  display: inline-flex;
  justify-content: center;
  align-items: center;

  & > span {
    display: inline-block;
    margin-left: 8px;
  }

  @include respond-to(below-medium) {
    & > span {
      display: none;
    }
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 79px;

  @include respond-to(below-medium) {
    margin-top: 0;

    & h3 {
      margin-top: 48px;
    }
  }
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 912px;

  @include respond-to(large) {
    width: 912px;
  }
  @include respond-to(medium) {
    width: 700px;
  }
  @include respond-to(small) {
    width: 100%;
  }
  @include respond-to(xsmall) {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  @include respond-to(xxsmall) {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  & > div {
    display: flex;
    flex-direction: column;

    @include respond-to(large) {
      width: 390px;
    }
    @include respond-to(medium) {
      width: 47%;
    }
    @include respond-to(small) {
      width: 47%;
    }
    @include respond-to(xsmall) {
      width: 100%;
    }
    @include respond-to(xxsmall) {
      width: 100%;
    }
  }

  h3 {
    @include heading();
    color: white;
    line-height: 110%;
    margin-bottom: 23px;
  }
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 0 16px;

  &:last-of-type {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }

  &:hover {
    background-color: #1f2f3d;
  }
}

.listLeft {
  display: flex;
  padding: 12px 0;
  @include smallText();
  text-transform: capitalize;
  line-height: 23px;
}

.listRight {
  width: 164px;
}

.version {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.08);

  &:last-of-type {
    border: none;
  }
}

.versionPresaved {
  flex-direction: row-reverse;
}

.usage {
  @include smallTextUltraStrong();
}

.browserIcon {
  display: inline-flex;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.coverageSidebar {
  margin-bottom: 250px;
  position: relative;

  @include respond-to(small) {
    display: none;
  }
  @include respond-to(xsmall) {
    display: none;
  }
  @include respond-to(xxsmall) {
    display: none;
  }
}

.coverageCount {
  width: 184px;
  height: 140px;
  padding: 16px 20px 20px;
  background: #4636e3;
  border: 2px solid #777cf0;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
  @include mediumTextStrong();

  & > span {
    @include heading();
    display: inline-block;
    margin-top: 18px;
    color: rgba(255, 255, 255, 1);
  }

  p {
    @include smallText();
    color: white;
  }
}

.bar {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  z-index: 9;
  position: relative;
}

.dottedFloor {
  position: absolute;
  transform: translateY(-53%) translateX(-35.8%);
  left: 0;
  z-index: 0;
}

.footer {
  display: flex;
  height: 196px;
  width: 100%;
  background-color: #03111e;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  margin-top: 50px;

  @include respond-to(below-medium) {
    height: auto;
  }
}

.footerContainer {
  @extend .container;
  flex-direction: row;
  justify-content: space-between;

  @include respond-to(small) {
    padding: 58px;
  }
  @include respond-to(xsmall) {
    flex-direction: column;
    padding: 30px;
  }
  @include respond-to(xxsmall) {
    padding: 10px;
  }
}

.madeBy {
  .logo {
    margin-right: 25px;
  }

  display: flex;
  align-items: center;
  color: white;
  @include smallTextStrong();

  @include respond-to(xsmall) {
    margin-bottom: 45px;
  }

  @include respond-to(xxsmall) {
    margin-bottom: 45px;
  }
}

.dependencies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include smallTextStrong();
  line-height: 20px;
  color: #717885;

  & > div {
    margin-left: 100px;
  }

  @include respond-to(below-medium) {
    flex-direction: column;
    justify-content: flex-start;

    & > div {
      margin-left: 0;
      flex-direction: row;
      margin-bottom: 10px;
    }

    & > div > div {
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.horProgressWrapper {
  height: 24px;
  width: 100%;
  background-color: #190d94;
  flex: auto;
  border-radius: 3px;
  overflow: hidden;
  display: none;
  position: relative;

  @include respond-to(below-medium) {
    display: block;
  }

  & > div {
    transition: all 200ms;
    height: 100%;
    background-color: #4636e3;
  }

  & > span {
    position: absolute;
    color: #ffffff;
    @include smallText();
    top: 0;
    padding: 4px 8px;
  }
}

.hide {
  display: none;
}

.progressContainer {
  @extend .container;
  margin-top: 8px;
  height: 24px;
}

.tooltip {
  position: absolute;
  display: inline-block;
  border-radius: 8px;
  right: 0;
  top: -10px;
  transform: translateX(-50%) translateY(10px);

  &:hover > span {
    display: block;
  }
}

.stickyTooltip {
  bottom: -100px;
}

.tooltiptext {
  width: 250px;
  color: #fff;
  text-align: center;
  padding: 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  z-index: 1;
  background-color: black;
  border: 1px solid rgba(255,255,255,0.2);
  transform: translateX(-60%);
  bottom: 0;
  display: none;
}

.disclaimer {
  @extend .progressContainer;
  height: auto;
  display: none;

  @include respond-to(below-medium) {
    display: block;
  }
}

.disclaimerInner {
  @extend .coverageCount;
  height: auto;
  width: 100%;
  padding: 20px;
  flex-direction: row;
  display: flex;

  svg {
    overflow: initial;
    margin-right: 10px;
  }
}

.preSavedDatatitlewrapper {
  flex-direction: row;
  display: flex;
  align-items: center;

  @include respond-to(below-medium) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include respond-to(small) {
    align-items: flex-end;
  }
}

.presavedDescription {
  @include respond-to(below-medium) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  @include respond-to(small) {
    margin-top: 30px;
  }
}

.errorDetails {
  color: #e75541;
  text-align: left;
}
