@import "sprite";

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html, body {
  background-color: #061828;
}

a {
  color: #8F9BF4;
  text-decoration-line: underline;
  white-space: pre;
  transition: opacity 200ms;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

.bl__control:hover {
  background-color: #1F2F3D !important;
  border-color: #384653 !important;
  outline: none !important;
}

