@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
