.icon {
  background-image: url("/sprite.png");
  height: 20px;
  width: 20px;
  background-size: auto 20px !important;
}

.icon-firefox {
  background-position: -189px 0;
}

.icon-chrome {
  background-position: -113px 0;
}

.icon-blackberry {
  background-position: -75px 0;
}

.icon-baidu {
  background-position: -38px 0;
}

.icon-edge {
  background-position: -152px 0;
}

.icon-ie {
  background-position: -227px 0;
}

.icon-kaios {
  background-position: -266px 0;
}

.icon-opera {
  background-position: -305px 0;
}

.icon-ios-safari {
  background-position: -341px 0;
}

.icon-samsung {
  background-position: -380px 0;
}

.icon-qq {
  background-position: -418px 0;
}

.icon-uc {
  background-position: -455px 0;
}

.icon-safari {
  background-position: -494px 0;
}

.icon-opera-mini {
  background-position: -532px 0;
}
